BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 110
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<windows\.h>$'
    Priority: 1
  - Regex: '^<(bcrypt|commctrl|compressapi|shellapi|shlobj)\.h>$'
    Priority: 2
  - Regex: '^<[a-z_]+>$'
    Priority: 3
  - Regex: '^<.*\.h>$'
    Priority: 4
  - Regex: '^"btpay_format\.h"$'
    Priority: 5
  - Regex: '.*'
    Priority: 6
